.section:after,
ul.nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

* {
    margin: 0;
}

a {
    text-decoration: underline;
    color: #6B2E42;
}

a:hover {
    text-decoration: none;
}

body {
    background: #C9CFCD url(img01.gif);
    font-size: 10pt;
    color: #323232;
    line-height: 1.75em;
}

body,input {
    font-family: Avro, serif;
}

strong {
    color: #222222;
}

br.clearfix {
    clear: both;
}

h1,h2,h3,h4 {
    letter-spacing: -1px;
    text-transform: lowercase;
    font-weight: normal;
}

h2 {
    font-size: 2.25em;
}

h2,h3,h4 {
    color: #000405;
    font-family: Arvo, serif;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

img.alignleft {
    float: left;
    margin: .5em 2em 2em 0;
}

img.aligntop {
    margin: .5 0 2em 0;
}

p {
    margin-bottom: 1.5em;
}

ul {
    margin-bottom: 1.5em;
}

ul h4 {
    margin-bottom: 0.35em;
}

#header {
    height: 8em;
    position: relative;
    padding: 3.5em;
}

#logo {
    position: absolute;
    left: 3.5em;
    line-height: 11em;
    height: 11em;
    top: 3.5em;
}

#logo a {
    text-decoration: none;
    color: #000405;
}

#logo h1 {
    font-family: Arvo, serif;
    font-size: 3em;
}

#menu {
    line-height: 6em;
    position: absolute;
    font-family: Arvo, serif;
    background: #6B2E42 url(img02.gif);
    top: 6.6em;
    right: 0;
    height: 6em;
    border: solid 1px #CA8B9F;
}

#menu a {
    font-size: 1.5em;
    text-transform: lowercase;
    letter-spacing: -1px;
    color: #FFFFFF;
    text-decoration: none;
}

#menu ul {
    padding: 0 1.5em 0 1.5em;
    list-style: none;
}

#menu ul li {
    display: inline;
    padding: 0 1em 0 1em;
}

#page {
    margin: 2em 0 2em 0;
    position: relative;
}

#entry input[type="text"] {
    margin: 0 .2 0 0;
    border: none;
    background: #DDDDDD;
    font-size: 1.4em;
    color: #000000;
}

#entry label{
  margin: 3em 8em 0 0;
}

#entry input#name{
    color: #000405;
    font-family: Arvo, serif;
    margin-bottom: 1em;
    font-size: 1.75em;
    border: none;
    background: #FFFFFF;
    outline: none;
}

#entry input.word{
  width: 10em;
}

#entry input.clue{
  width: 31em;
}

.spin input {
  width: 2em;
}

#entry li.spin {
  margin: .5em 0 .5em 0;
}

button {
    overflow: visible;
    width: auto;
}
button.link {
    font-family: "Avro" serif;
    text-align: left;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    color: #6B2E42;
        
    -moz-user-select: text;

/* override all your button styles here if there are any others */
}
button.link span {
    text-decoration: underline;
}
button.link:hover span,
button.link:focus span {
    color: black;
}

#edit {
  float:right;
}

#entry ul {
  margin: 0em 0em 1.75em 0 ;
    padding: 0px 0px 0px 0px;
}

#entry li {
  margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
}

/* Sidebars */
.sidebar {
    background: #FFFFFF;
    color: #6E6E6E;
    padding: 1.5em;
    border-bottom: solid 2px #BBC1BF;
    font-family: Arvo, serif;
    font-size: .8em;

    float: left;
    width: 30em;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 0;
}

.sidebar a {
}

#sidebar h2, #sidebar h3, #sidebar h4 {
    color: #000000;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    margin: 2px
    padding: 2px 0 2px 0;
    border-top: solid 1px #D9D9D9;
}

#sidebar ul li.first {
    border-top: 0;
    padding-top: 0;
}

#content {
    background: #FFFFFF;
    color: #6E6E6E;
    margin: 0 2em 0 2em;
    padding: 1.7em;
    float: left;
    border-bottom: solid 2px #BBC1BF;
}

#content h2, #content h3, #content h4 {
    color: #171717;
}

#footer {
    padding: 3em 0 8em 0;
    text-align: center;
    margin: 0 0 2em 0;
    color: #808384;
    text-transform: lowercase;
}

#footer a {
    color: #808384;
}

#wrapper {
    margin: .5em auto 0 auto;
    position: relative;
}

table.cwd {
  font-size:1.0em;
  font-family:Avro,sans-serif;
  border-style:solid;
  border-collapse: collapse;
}

table.cwd tr {
  border-style:solid;
  border-width:thin;
  height:1.8em;
}

table.cwd tr td {
  border-style:solid;
  border-width:thin;
  width:1.8em;
  vertical-align:middle;
}

table.cwd tr td.b {
  background: #000000;
}

table.cwd tr td.highlight {
  background: #ff7f7f;
}

/* MICRO CLEARFIX HACK */
.cf:before, .cf:after {content:"";display:table} /* For modern browsers */
.cf:after {clear:both}
.cf {zoom:1} /* For IE 6/7 (trigger hasLayout) */

/* DEFAULT MOBILE STYLE */
body {width: 92%; margin: 0 auto} /* Center page without wrapper */
/* column grid */
.g1,.g2,.g3{display:block; position: relative; margin-left: 1%; margin-right: 1%}
/* 1 column grid */
.g1,.g2,.g3{width:98.0%}

/* media Queries

FOLDING FLUID GRID
< 767px            - 1-Column Fluid Grid
768px - 1023px    - 2-Column Fluid Grid
> 1024px            - 3-Column Fluid Grid
Change widths as necessary
------------------------------------------- */

/* MOBILE PORTRAIT */
@media only screen and (min-width: 320px) {
    body {
        
    }
    #content {margin-left:0;}
    #content {margin-bottom:2em;}
}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 480px) {
    body {
        font-size: 6pt;
    }

    #content {margin-bottom:2em;}
}

/* SMALL TABLET */
@media only screen and (min-width: 600px) {
    body {
        font-size: 7pt;        
    }

}

/* TABLET/NETBOOK */
@media only screen and (min-width: 768px) { 
    body {
        font-size: 9pt;
    }
        
    #wrapper {width: 55em}
    #content {margin-left:11em;}
    #sidebar2 {float: right}
    
}

/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 1024px) { 
    body {
        font-size: 10pt;    
    }
    
    #wrapper {width: 90em}
    #content {margin-left:1em;}
    #content {margin-bottom:2em;}
    #sidebar2 {float: right}
}

@media only screen and (min-width: 1280px) { 
/* DESKTOP */
    body {

    }

}

/* WIDESCREEN */
/* Increased body size for legibility */
@media only screen and (min-width: 1400px) { 
    body {font-size:116.75%; max-width:1440px} /* 18.5px / 28px */
    
}


/* PRINT */
@media print {
  * {background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important} /* Black prints faster */
  a, a:visited {color: #444 !important; text-decoration: underline}
  a[href]:after {content: " (" attr(href) ")"}
  abbr[title]:after {content: " (" attr(title) ")"}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: ""}  /* Don't print links for images, javascript or internal links */
  pre, blockquote {border: 1px solid #999; page-break-inside: avoid; }
  thead {display: table-header-group; } /* Repeat header row at top of each printed page */
  tr, img {page-break-inside: avoid; }
  img {max-width: 100% !important; }
  @page {margin: 0.5cm}
  p, h2, h3 {orphans: 3; widows: 3}
  h2, h3{page-break-after: avoid}
}

