{% extends 'base.html' %}
{% block title %}About cruciverbaliser{% endblock %}

{% block style %}
#header { min-height:200px; width:50%; margin-left: 25%; background:#FFFFFF url(/static/header.png); 
          font-size: 72px;	letter-spacing: -13px; text-transform: lowercase; color: #FFF; }

#menu { width:50%; margin-left: 25%; }
#menu ul { margin: 0px;	padding: 20px 0px 0px 0px; list-style: none; }
#menu li { display: inline; }
#menu a {	display: block;	float: right;	margin-left: 20px; text-decoration: none; text-transform: lowercase; font-size: 1.36em;	color: #CCCCCE; }

div#body { width:50%; margin-left: 25%;}
table {width: 100%; font-family: Verdana,Helvetica, Arial;font-size: 11px;margin-bottom: 20px;}
table caption {font-size: 14px;font-weight:bold;color:#666;text-align:left;line-height:20px;}
thead td {border-top: 4px solid #CCCCCE;border-bottom: 1px solid #CCCCCE;}

td.l, th.l{text-align:left;}
td.r, th.r{text-align:right;}
th.c, td.c{text-align:center;}

.faq {font-family: Verdana,Helvetica, Arial;font-size: 11px;}
input {text-align:left; border: none; background-color:#ddd;}

p.heading  {font-family: Verdana,Helvetica, Arial;font-size: 11px;margin-bottom: 20px; font-size: 14px;font-weight:bold;color:#666;line-height:20px;}

a {text-decoration: none;}

{% endblock %}

{% block centre %}
<div style="height: 20px"></div>
<div class='faq'>
<p style='font-size: 12px'>
This web application is hosted free on the Google App Engine.  You don't need to create an account to use this application - you can use your Google account to log in.  Add your own clues and click generate to create your very own personalised crossword.
</p>

<p>Some points to note:</p>
<ul>
<li>No account information will be used in any way -<a href='https://www.google.com/support/accounts/bin/answer.py?answer=112802'>ever!</a></li>
<li>Software is provided as is i.e. bugs included.</li>
<li>No warranty is expressed or should be implied.</li>
<li>Group sections, results will be added as data becomes available.</li>
<li>Scores are editable up to the kickoff date/time displayed.</li>
<li>Do yourself a favour and download a free web browser.</li>
<li>There is no special prize other than wholesale bragging rights.</li>
</ul>
<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
</div>
{% endblock %}      

