<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Based on designs by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>  
<meta name="keywords" content="crossword solver crucigrama cruzado" />
<title>{% block title %} cruciverbaliser {% endblock %}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1>cruciverbaliser</h1>
		<h2><a href="http://www.freecsstemplates.org/">crossword puzzles</a></h2>
	</div>
	<div id="menu">
		<ul>
            <li>{% if user %}
                <a id="login" href="{{ logout_url }}" accesskey="1" title="">Logout</a>
                {% else %}
                <a id="logout" href="{{ login_url }}" accesskey="1" title="">Login</a>
                {% endif %}
            </li>
			<li class="active"><a href="/" accesskey="2" title="">Home</a></li>
			<li><a href="/user" accesskey="3" title="">Profile</a></li>
			<li><a href="/about" accesskey="4" title="">About</a></li>
		</ul>
	</div>
</div>
<div id="content">
{% block centre %}
{% endblock %}
</div>
<div id="footer">
	<p id="copy">&copy;2007 Anodyne<br />
		Designed by <a href="#">Free CSS Templates</a></p>
	<p id="feed"><a href="#" id="rss">RSS Feed</a></p>
</div>
</body>
</html>
