{% extends 'base.html' %}

{% block centre %}
<table><tr><td>
  <form action="." method="post">
  <ul>
  {{form.as_ul}}
  <br><input type="submit" value="Save"/>
  </ul>
  </form>
</td></tr></table>
{% endblock %}
