{% extends 'index.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
  <div id="page">
		  <div id="sidebar1" class="sidebar">
		      <h3>puzzles</h3>
		      <ul>{% for puzzle in puzzles %}
		        <li><a href="/?name={{ puzzle.name }}">{{ puzzle.name }}</a>
        {% endfor %}</ul>
		  </div>
		  <!-- start content -->
		  <div id="content">
        <form id="saveform" action="" method="post">
		    <h3><input id="name" type="text" value="{{ current.name }}"/></h3>
			  <div class="post1">
	        <input type="text" id="rows" value="{{ current.rows }}"/>
	        <input type="text" id="cols" value="{{ current.cols }}"/>
	        <input type="text" id="secs" value="{{ current.secs }}"/>
	        <br>
	        <input type="text" class="clue" id="clue" value="{{ current.clue }}"/>
			  </div>
  		  <div style="clear: both;">&nbsp;</div>
        <input type="submit" id="save" value="Save" onclick='saveuser()' />
        </form>
		  </div>
		  <!-- end content -->
		  <!-- start sidebars -->
		  <div id="sidebar2" class="sidebar">
		      <p id='message' style='display:none;'>Oops, we boobed.</p>
		  </div>
		  <!-- end sidebars -->
		  <div style="clear: both;">&nbsp;</div>
  </div>
{% endblock %} 
  
