<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>{% block title %} cruciverbaliser {% endblock %}</title>

    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="menu" >
            <ul>
                {% if prevuri %}
                <li><a href="{{ prevuri }}">...</a></li>
                {% endif %}
                <li><a href="/">Home</a></li>
                {% if nexturi %}
                <li><a href="{{ nexturi }}">...</a></li>
                {% endif %}
                <li><a href="/about">About</a></li>
                <li><a href="/profile">Puzzles</a></li>
                <li>{% if user %}
                    <a id="login" href="{{ logout_url }}" accesskey="1" title="">Logout</a>
                    {% else %}
                    <a id="logout" href="{{ login_url }}" accesskey="1" title="">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div id="page">
        <!-- start content -->
        <div id="content">
            <form method="post" action="/">
            {% if user %}
                {% if task %}
                <div id="entry">
                    <div id="edit"><button type="submit" class="link"><span>save</span></div>
                    <input id="name" name="name" type="text" value="{{ name }}"/>
                    <input name="task" type="text" style="display:none" value="{{ task }}"/>
                    <ul>
                        <li class="spin">
                            <label for="rows">Dimensions</label><input name="rows" type="text" value="{{ rows }}"/>
                            <label for="cols">By</label><input name="cols" type="text" value="{{ cols }}"/>
                        </li>
                        <li>
                             <input class="word" name="word0" type="text" placeholder="a word" value=""/>
                             <input class="clue" name="clue0" type="text" placeholder="enter a clue" value=""/>
                        </li>
                        {% if bank %}
                        {% for clue in bank %}
                        <li>
                            <input class="word" name="word{{ forloop.counter }}" type="text" value="{{ clue.0 }}"/>
                            <input class="clue" name="clue{{ forloop.counter }}" type="text" value="{{ clue.1 }}"/>
                        </li>
                            {% if forloop.last %}
                              <input name="hits" type="text" style="display:none" value="{{ forloop.counter0 }}"/>
                            {% endif %}
                        {% endfor %}
                        {% else %} <!-- no list -->
                            <p>Sorry no clues</p>
                        {% endif %}
                    </ul>
                </div> 
                {% else %} <!-- no data -->
                <div id="edit"><a href="/?name={{ name }}&task=edit">edit</a></div>
                <h3>{{ name }}</h3>
                {% endif %}
            {% else %} <!-- no user -->
            <h3>{{ name }}</h3>
            {% endif %}
            </form>
            <div class="post1">
               {{ crossword|safe }}
            </div>
        </div>
        <!-- end content -->
        <!-- start sidebars -->
        <div id="sidebar1" class="sidebar">
            <h3>across</h3>
            <ul>{% for f in across %}
                <li>{{ f }}</li>
                {% endfor %}
            </ul>
        </div>      
        <div id="sidebar2" class="sidebar">
            <h3>down</h3>
            <ul>{% for f in down %}
                <li>{{ f }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- end sidebars -->
        <div style="clear: both;">&nbsp;</div>
    </div>
</div>
<div id="footer">
    Copyright (c) 2012 anodyne-solutions.com. Design by <a href="http://www.freecsstemplates.org/">CSS Templates</a>.
</div>
<!-- JavaScript at the bottom for fast page loading -->
<!-- Minimized jQuery from Google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<!-- HTML5 IE Enabling Script -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!-- CSS3 Media Queries -->
<script src="/static/respond.min.js"></script>
<!-- Optimized Google Analytics. Change UA-XXXXX-X to your site ID -->
<script>var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)
</body>
</html>
