{%extends "base.html"%}

{%block centre%}
    {% if documents %}
    <h1>Documents</h1>
    <table>
		{% for document in documents %}
    	<tr>
    		<td width='10%'><img src='/static/{{ skin }}/images/{{ document.category }}.gif'></td>
    		<td width='60%'><a title='{{ document.category }}' href='{{ document.link }}'><h5>{{ document.name }}</h5></a></td>
    		<td><h5>{{ document.published|date }}</h5></td>
    	</tr>
		{% endfor %}
    </table>
    {% else %}
      <h2>Sorry.  No documents here yet.</h2>
    {% endif %}
{%endblock%}
