{% extends 'index.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
  <div id="page">
		  <div id="sidebar1" class="sidebar">
		      <h3>puzzles</h3>
		      <ul>{% for puzzle in puzzles %}
		        <li><a href="/?={{ puzzle.name }}">{{ puzzle.name }}</a>
        {% endfor %}</ul>
		  </div>
		  <!-- start content -->
		  <div id="content">
        <form id="saveform" action="" method="post">
		    <h3><input id="name" type="text" value="{{ current.name }}"/></h3>
			  <div class="post1">
            <input type="text" id="clues" value="{{ current.clues }}"/>
			  </div>
  		  <div style="clear: both;">&nbsp;</div>
        <input type="submit" id="save" value="Save" onclick='saveuser()' />
        </form>
		  </div>
		  <!-- end content -->
		  <!-- start sidebars -->
		  <div id="sidebar2" class="sidebar">
		      <p id='message' style='display:none;'>Oops, we boobed.</p>
		  </div>
		  <!-- end sidebars -->
		  <div style="clear: both;">&nbsp;</div>
  </div>
{% endblock %} 
  
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript"><!--
function saveuser() {
  var query = "";
  s = ['name', 'clues']   // this is ridiculous for one parameter
  for(i=0; i<s.length; i++) { 
     if(i>0) query=query+"&";
     query=query+encodeURIComponent(s[i])+"="+encodeURIComponent(document.getElementById(s[i]).value);
  }

  $.ajax({type: "POST", url: '/', data: query, success: function(msg) { 
      errmsg = document.getElementById('message')
      errmsg.style.display = 'none';

      // validate fields
      if (msg) {
         errmsg.style.display = 'block';
         $("#nickname").focus();
      }
    } 
  });  
}

$("#clues #puzzle").change(function () {
  alert('changed')
  //saveuser();  
});


-->
</script>

